[user]
	name = John Mogensen
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --graph --decorate --oneline --all
	lgm = log --graph --decorate --pretty=medium --abbrev-commit --all
	pr = pull --rebase
	pfwl = push --force-with-lease
	rec = rebase --continue
	can = commit --amend --no-edit
	remain = !git fetch origin main:main && git rebase main
	remaster = !git fetch origin master:master && git rebase master
	delete-gone-branches = !"git branch -vv | grep -E '\\[origin/.+: gone\\]' | awk '{print $1}' | grep -vE '^main|^master|^\\*'" | xargs git branch -D
[init]
	defaultBranch = main
[pull]
	ff = only
[fetch]
	prune = true
[merge]
	ff = only
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
